#!/usr/bin/env bash
# vim: set foldmethod=marker foldmarker={{{,}}}:
# shellcheck disable=SC1091
source "$TW_BINX/lib/sane_fn.sh"
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR

if which tmux > /dev/null 2>&1; then
    tmux rename-window "$(basename "$PROJ_DIR")"
fi

############### Exports ###############
export RUN_ENV=local
export senv="source $PROJ_DIR/scripts/env.sh"
#export TW_FZF_ROOT="$HOME/dev"
#export SHOW_TF_PROMPT=0

export RUST_LOG=debug

############### Rust ###############
#source "$HOME/.cargo/env"

dotenv ~/dev/s/private/sec-sops/tw.env

export RPLC_CONFIG="$VIMWIKI_PATH/dev/bkmr-lsp.md"
export RPLC_MIRROR_DIR="$HOME/dev/s/private/py-twlib/rplc/sysid/bkmr-lsp"
swapin() {
    rplc -v swapin
    direnv allow
}
export_function swapin
swapout() {
    rplc -v swapout
    direnv allow
}
export_function swapout

PATH_add "$PROJ_DIR"  # gradlew
PATH_add "$PROJ_DIR"/scripts

# LSP demands two \r\n line breaks and an exact byte count
# ordinary echo drops \r, so use:
send() {
  body="$1"
  len=$(printf '%s' "$body" | wc -c)
  printf 'Content-Length: %d\r\n\r\n%s' "$len" "$body"
}
export_function send

export RPLC_SWAPPED=1
